.nav-container{
    display: flex;
    padding: 25px 50px 25px 50px;
    align-items: flex-end;
    flex-wrap: nowrap;
    font-size: larger;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    gap: 60px;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    text-align: end;
}
.homepage-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 50px 20px 20px 50px;
    justify-content: flex-start;
    align-content: space-around;
    gap: 50px;
    text-align: start;
    }

#section-one{
    width: 50%;
}
#section-two{
    width: 50%;
}
.image{
    width: 50%;
    border-radius: 5%;
    
}
.footer{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    color: aliceblue;
}

.button{
    background-color:#1316d3;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}