.nav-container{
    display: flex;
    padding: 25px 50px 25px 50px;
    background-color:#9f4576;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 10px;
    font-size: x-large;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    gap: 20px;
    text-align: end;
}
.homepage-container{
    display: flex
    ;
        padding: 25px 50px 25px 50px;
        background-color:#9f4577c9;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        font-size: x-large;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-end;
        gap: 20px;
        text-align: start;
    }
    display: flex;
#section-one{
    width: 50%;
}
#section-two{
    width: 50%;
}
.image{
    width: 50%;
    
}
.footer{
    display: flex;
        padding: 25px 50px 25px 50px;
        background-color:#27091a;
        align-items: center;
        justify-content: space-around;

}