.nav-container{
    display: flex;
    padding: 25px 50px 25px 50px;
    align-items: flex-end;
    flex-wrap: nowrap;
    font-size: larger;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    gap: 60px;
    background-color: #8bf831a8 ;
    text-align: end;
}
.biography-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px 50px 20px 50px;
    justify-content: flex-start;
    align-content: space-around;
    background-color: #8bf831a8  ;
    gap: 50px;
    text-align: start;

}
.section-one {
    width 50%;
}
.section-two {
    width 50%;
}
.footer{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    background-color: #8bf831a8 ;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;

}